.main-container {
  min-height: 90vh;
  min-width: 90vw;
  background-color: #ffd8ec;
  border: solid 2px #ffd8ec;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 1em 0em #ffd8ec;
}

.fullLogo {
  max-height: 512px;
  max-width: 512px;
}

.sidebar-container {
  background-color: #ffd8ec;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.sb-header {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 5px;
  margin: 10px;
  flex: 1;
}
.sb-search {
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  flex: 1;
}
.sb-conversations {
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 5px;
  margin: 10px;
  flex: 13;
}

.searchBox {
  outline-width: 0;
  border: none;
  font-size: 1.5rem;
}

.conversation-image {
  max-width: 50px;
  max-height: 50px;
}

.conversation-item {
  padding: 4px;
  display: flex;
  align-items: center;
}

.conversation-name {
  font-size: 18px;
  font-weight: 600;
}

.conversation-info {
  flex: 2;
  padding-left: 8px;
}

.conversation-timeStamp {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.workArea-container {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.chat-header {
  background-color: #fff;
  padding: 10px 5px;
  margin: 10px;
  flex: 1;
  border-radius: 20px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.chat-header-identity {
  display: flex;
  align-items: center;
  width: 20%;
  padding: 0px 16px;
}

.chat-header-name {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 16px;
}

.chat-send-area {
  background-color: #fff;
  padding: 10px 5px;
  flex: 1;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.chat-box {
  outline-width: 0;
  border: none;
  font-size: 1.5rem;
  flex: 1;
}
.chat-header-image {
  max-height: 32px;
}

.chat-area {
  background-color: #fff;
  flex: 13;
  padding: 10px 5px;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  max-height: 65vh;
}

.message-self {
  margin-left: auto;
  background-color: #ffeff7;
  color: darkred;
  max-width: 50%;
  padding: 12px 16px;
  margin-right: 16px;
  margin-top: 12px;
  border-radius: 24px;
}

.message-others {
  margin-right: auto;
  background-color: #e75f86;
  max-width: 50%;
  padding: 12px 16px;
  color: #fff;
  margin-left: 16px;
  margin-top: 12px;
  border-radius: 24px;
}
